<div *ngIf="produto">

    <h2>{{ produto.name | uppercase }} Detalhes</h2>

    <div>
      <span>id: </span>{{produto.id}}</div>
    <div>
  
    <form #produtoForm="ngForm" (ngSubmit)="updateProduto()">
        <mat-form-field>
            <input type="text" #name matInput placeholder="Nome" required [(ngModel)]="produto.nome" name="nome">
          </mat-form-field>
          <mat-form-field>
            <input type="text" matInput placeholder="Cód Barras" [(ngModel)]="produto.codbarras" name="codbarras">
          </mat-form-field>
      
          <mat-form-field>
            <input type="text" matInput placeholder="Descrição" [(ngModel)]="produto.descricao" name="descricao">
          </mat-form-field>
      
          <mat-form-field>
            <input type="number" matInput placeholder="Quantidade" [(ngModel)]="produto.quantidade" name="quantidade">
          </mat-form-field>    
      
          <mat-form-field>
              <input type="text" matInput placeholder="Categoria" [(ngModel)]="produto.categoria" name="categoria">
            </mat-form-field> 
      <button type="submit" mat-raised-button color="primary">Atualizar</button>      
    </form>
  
  </div>