<mat-card class="count-container">
    <div *ngIf="globals.loading">searching for produtos...</div>
    <div class="success-msg" *ngIf="!globals.loading">
      <span> Lista de Produtos</span>
    </div>
  </mat-card>
  <mat-grid-list cols="4" rowHeight="500">
    <mat-grid-tile *ngFor="let each of produtos">
  
      <mat-card [appHoverEffect]="hoverOpacity" defaultOpacVal="0.8">
        <mat-card-header>
      
          <mat-card-title>{{each.nome | uppercase}}</mat-card-title>
          <mat-card-subtitle>Categoria: {{each.categoria}}</mat-card-subtitle>
        </mat-card-header>
        
        <mat-card-content>
            {{each.descricao}}
        </mat-card-content>
        <mat-card-actions>
          <a mat-button routerLink="detail/{{each.id}}">Detalhes</a>
          <button mat-mini-fab color="warn" (click)="deleteProduto(each)" title="deletar">X</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>