<div >
    <mat-progress-bar class="" [color]="'accent'" [mode]="'indeterminate'">
    </mat-progress-bar>
</div>
<nav class="navbar-header">
    <a mat-button class="home" routerLink="/">
        <span>Produtos</span>
    </a>
    <a mat-button routerLink="produtos/add">Novo+</a>
    
</nav>
<router-outlet></router-outlet>